// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$at-name: 'at';
$at-x: 31px;
$at-y: 0px;
$at-offset-x: -31px;
$at-offset-y: 0px;
$at-width: 31px;
$at-height: 21px;
$at-total-width: 186px;
$at-total-height: 168px;
$at-image: '~assets/images/$sprites/header-stores-sprites.png';
$at: (31px, 0px, -31px, 0px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'at', );
$be-fr-name: 'be-fr';
$be-fr-x: 124px;
$be-fr-y: 42px;
$be-fr-offset-x: -124px;
$be-fr-offset-y: -42px;
$be-fr-width: 31px;
$be-fr-height: 21px;
$be-fr-total-width: 186px;
$be-fr-total-height: 168px;
$be-fr-image: '~assets/images/$sprites/header-stores-sprites.png';
$be-fr: (124px, 42px, -124px, -42px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'be-fr', );
$be-nl-name: 'be-nl';
$be-nl-x: 0px;
$be-nl-y: 21px;
$be-nl-offset-x: 0px;
$be-nl-offset-y: -21px;
$be-nl-width: 31px;
$be-nl-height: 21px;
$be-nl-total-width: 186px;
$be-nl-total-height: 168px;
$be-nl-image: '~assets/images/$sprites/header-stores-sprites.png';
$be-nl: (0px, 21px, 0px, -21px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'be-nl', );
$be-name: 'be';
$be-x: 31px;
$be-y: 21px;
$be-offset-x: -31px;
$be-offset-y: -21px;
$be-width: 31px;
$be-height: 21px;
$be-total-width: 186px;
$be-total-height: 168px;
$be-image: '~assets/images/$sprites/header-stores-sprites.png';
$be: (31px, 21px, -31px, -21px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'be', );
$bg-name: 'bg';
$bg-x: 62px;
$bg-y: 0px;
$bg-offset-x: -62px;
$bg-offset-y: 0px;
$bg-width: 31px;
$bg-height: 21px;
$bg-total-width: 186px;
$bg-total-height: 168px;
$bg-image: '~assets/images/$sprites/header-stores-sprites.png';
$bg: (62px, 0px, -62px, 0px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'bg', );
$ca-en-name: 'ca-en';
$ca-en-x: 62px;
$ca-en-y: 21px;
$ca-en-offset-x: -62px;
$ca-en-offset-y: -21px;
$ca-en-width: 31px;
$ca-en-height: 21px;
$ca-en-total-width: 186px;
$ca-en-total-height: 168px;
$ca-en-image: '~assets/images/$sprites/header-stores-sprites.png';
$ca-en: (62px, 21px, -62px, -21px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'ca-en', );
$ca-fr-name: 'ca-fr';
$ca-fr-x: 0px;
$ca-fr-y: 42px;
$ca-fr-offset-x: 0px;
$ca-fr-offset-y: -42px;
$ca-fr-width: 31px;
$ca-fr-height: 21px;
$ca-fr-total-width: 186px;
$ca-fr-total-height: 168px;
$ca-fr-image: '~assets/images/$sprites/header-stores-sprites.png';
$ca-fr: (0px, 42px, 0px, -42px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'ca-fr', );
$ca-name: 'ca';
$ca-x: 31px;
$ca-y: 42px;
$ca-offset-x: -31px;
$ca-offset-y: -42px;
$ca-width: 31px;
$ca-height: 21px;
$ca-total-width: 186px;
$ca-total-height: 168px;
$ca-image: '~assets/images/$sprites/header-stores-sprites.png';
$ca: (31px, 42px, -31px, -42px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'ca', );
$cn-name: 'cn';
$cn-x: 62px;
$cn-y: 42px;
$cn-offset-x: -62px;
$cn-offset-y: -42px;
$cn-width: 31px;
$cn-height: 21px;
$cn-total-width: 186px;
$cn-total-height: 168px;
$cn-image: '~assets/images/$sprites/header-stores-sprites.png';
$cn: (62px, 42px, -62px, -42px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'cn', );
$cy-gr-name: 'cy-gr';
$cy-gr-x: 0px;
$cy-gr-y: 63px;
$cy-gr-offset-x: 0px;
$cy-gr-offset-y: -63px;
$cy-gr-width: 31px;
$cy-gr-height: 21px;
$cy-gr-total-width: 186px;
$cy-gr-total-height: 168px;
$cy-gr-image: '~assets/images/$sprites/header-stores-sprites.png';
$cy-gr: (0px, 63px, 0px, -63px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'cy-gr', );
$cy-tr-name: 'cy-tr';
$cy-tr-x: 31px;
$cy-tr-y: 63px;
$cy-tr-offset-x: -31px;
$cy-tr-offset-y: -63px;
$cy-tr-width: 31px;
$cy-tr-height: 21px;
$cy-tr-total-width: 186px;
$cy-tr-total-height: 168px;
$cy-tr-image: '~assets/images/$sprites/header-stores-sprites.png';
$cy-tr: (31px, 63px, -31px, -63px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'cy-tr', );
$cy-name: 'cy';
$cy-x: 62px;
$cy-y: 63px;
$cy-offset-x: -62px;
$cy-offset-y: -63px;
$cy-width: 31px;
$cy-height: 21px;
$cy-total-width: 186px;
$cy-total-height: 168px;
$cy-image: '~assets/images/$sprites/header-stores-sprites.png';
$cy: (62px, 63px, -62px, -63px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'cy', );
$cz-name: 'cz';
$cz-x: 93px;
$cz-y: 0px;
$cz-offset-x: -93px;
$cz-offset-y: 0px;
$cz-width: 31px;
$cz-height: 21px;
$cz-total-width: 186px;
$cz-total-height: 168px;
$cz-image: '~assets/images/$sprites/header-stores-sprites.png';
$cz: (93px, 0px, -93px, 0px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'cz', );
$de-name: 'de';
$de-x: 93px;
$de-y: 21px;
$de-offset-x: -93px;
$de-offset-y: -21px;
$de-width: 31px;
$de-height: 21px;
$de-total-width: 186px;
$de-total-height: 168px;
$de-image: '~assets/images/$sprites/header-stores-sprites.png';
$de: (93px, 21px, -93px, -21px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'de', );
$dk-name: 'dk';
$dk-x: 93px;
$dk-y: 42px;
$dk-offset-x: -93px;
$dk-offset-y: -42px;
$dk-width: 31px;
$dk-height: 21px;
$dk-total-width: 186px;
$dk-total-height: 168px;
$dk-image: '~assets/images/$sprites/header-stores-sprites.png';
$dk: (93px, 42px, -93px, -42px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'dk', );
$ee-name: 'ee';
$ee-x: 93px;
$ee-y: 63px;
$ee-offset-x: -93px;
$ee-offset-y: -63px;
$ee-width: 31px;
$ee-height: 21px;
$ee-total-width: 186px;
$ee-total-height: 168px;
$ee-image: '~assets/images/$sprites/header-stores-sprites.png';
$ee: (93px, 63px, -93px, -63px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'ee', );
$es-name: 'es';
$es-x: 0px;
$es-y: 84px;
$es-offset-x: 0px;
$es-offset-y: -84px;
$es-width: 31px;
$es-height: 21px;
$es-total-width: 186px;
$es-total-height: 168px;
$es-image: '~assets/images/$sprites/header-stores-sprites.png';
$es: (0px, 84px, 0px, -84px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'es', );
$fi-name: 'fi';
$fi-x: 31px;
$fi-y: 84px;
$fi-offset-x: -31px;
$fi-offset-y: -84px;
$fi-width: 31px;
$fi-height: 21px;
$fi-total-width: 186px;
$fi-total-height: 168px;
$fi-image: '~assets/images/$sprites/header-stores-sprites.png';
$fi: (31px, 84px, -31px, -84px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'fi', );
$fr-name: 'fr';
$fr-x: 62px;
$fr-y: 84px;
$fr-offset-x: -62px;
$fr-offset-y: -84px;
$fr-width: 31px;
$fr-height: 21px;
$fr-total-width: 186px;
$fr-total-height: 168px;
$fr-image: '~assets/images/$sprites/header-stores-sprites.png';
$fr: (62px, 84px, -62px, -84px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'fr', );
$global-name: 'global';
$global-x: 93px;
$global-y: 84px;
$global-offset-x: -93px;
$global-offset-y: -84px;
$global-width: 31px;
$global-height: 21px;
$global-total-width: 186px;
$global-total-height: 168px;
$global-image: '~assets/images/$sprites/header-stores-sprites.png';
$global: (93px, 84px, -93px, -84px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'global', );
$gr-name: 'gr';
$gr-x: 124px;
$gr-y: 0px;
$gr-offset-x: -124px;
$gr-offset-y: 0px;
$gr-width: 31px;
$gr-height: 21px;
$gr-total-width: 186px;
$gr-total-height: 168px;
$gr-image: '~assets/images/$sprites/header-stores-sprites.png';
$gr: (124px, 0px, -124px, 0px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'gr', );
$hk-name: 'hk';
$hk-x: 124px;
$hk-y: 21px;
$hk-offset-x: -124px;
$hk-offset-y: -21px;
$hk-width: 31px;
$hk-height: 21px;
$hk-total-width: 186px;
$hk-total-height: 168px;
$hk-image: '~assets/images/$sprites/header-stores-sprites.png';
$hk: (124px, 21px, -124px, -21px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'hk', );
$hr-name: 'hr';
$hr-x: 0px;
$hr-y: 0px;
$hr-offset-x: 0px;
$hr-offset-y: 0px;
$hr-width: 31px;
$hr-height: 21px;
$hr-total-width: 186px;
$hr-total-height: 168px;
$hr-image: '~assets/images/$sprites/header-stores-sprites.png';
$hr: (0px, 0px, 0px, 0px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'hr', );
$hu-name: 'hu';
$hu-x: 124px;
$hu-y: 63px;
$hu-offset-x: -124px;
$hu-offset-y: -63px;
$hu-width: 31px;
$hu-height: 21px;
$hu-total-width: 186px;
$hu-total-height: 168px;
$hu-image: '~assets/images/$sprites/header-stores-sprites.png';
$hu: (124px, 63px, -124px, -63px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'hu', );
$id-name: 'id';
$id-x: 124px;
$id-y: 84px;
$id-offset-x: -124px;
$id-offset-y: -84px;
$id-width: 31px;
$id-height: 21px;
$id-total-width: 186px;
$id-total-height: 168px;
$id-image: '~assets/images/$sprites/header-stores-sprites.png';
$id: (124px, 84px, -124px, -84px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'id', );
$ie-name: 'ie';
$ie-x: 0px;
$ie-y: 105px;
$ie-offset-x: 0px;
$ie-offset-y: -105px;
$ie-width: 31px;
$ie-height: 21px;
$ie-total-width: 186px;
$ie-total-height: 168px;
$ie-image: '~assets/images/$sprites/header-stores-sprites.png';
$ie: (0px, 105px, 0px, -105px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'ie', );
$in-name: 'in';
$in-x: 31px;
$in-y: 105px;
$in-offset-x: -31px;
$in-offset-y: -105px;
$in-width: 31px;
$in-height: 21px;
$in-total-width: 186px;
$in-total-height: 168px;
$in-image: '~assets/images/$sprites/header-stores-sprites.png';
$in: (31px, 105px, -31px, -105px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'in', );
$it-name: 'it';
$it-x: 62px;
$it-y: 105px;
$it-offset-x: -62px;
$it-offset-y: -105px;
$it-width: 31px;
$it-height: 21px;
$it-total-width: 186px;
$it-total-height: 168px;
$it-image: '~assets/images/$sprites/header-stores-sprites.png';
$it: (62px, 105px, -62px, -105px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'it', );
$lt-name: 'lt';
$lt-x: 93px;
$lt-y: 105px;
$lt-offset-x: -93px;
$lt-offset-y: -105px;
$lt-width: 31px;
$lt-height: 21px;
$lt-total-width: 186px;
$lt-total-height: 168px;
$lt-image: '~assets/images/$sprites/header-stores-sprites.png';
$lt: (93px, 105px, -93px, -105px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'lt', );
$lu-de-name: 'lu-de';
$lu-de-x: 124px;
$lu-de-y: 105px;
$lu-de-offset-x: -124px;
$lu-de-offset-y: -105px;
$lu-de-width: 31px;
$lu-de-height: 21px;
$lu-de-total-width: 186px;
$lu-de-total-height: 168px;
$lu-de-image: '~assets/images/$sprites/header-stores-sprites.png';
$lu-de: (124px, 105px, -124px, -105px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'lu-de', );
$lu-fr-name: 'lu-fr';
$lu-fr-x: 0px;
$lu-fr-y: 126px;
$lu-fr-offset-x: 0px;
$lu-fr-offset-y: -126px;
$lu-fr-width: 31px;
$lu-fr-height: 21px;
$lu-fr-total-width: 186px;
$lu-fr-total-height: 168px;
$lu-fr-image: '~assets/images/$sprites/header-stores-sprites.png';
$lu-fr: (0px, 126px, 0px, -126px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'lu-fr', );
$lu-name: 'lu';
$lu-x: 31px;
$lu-y: 126px;
$lu-offset-x: -31px;
$lu-offset-y: -126px;
$lu-width: 31px;
$lu-height: 21px;
$lu-total-width: 186px;
$lu-total-height: 168px;
$lu-image: '~assets/images/$sprites/header-stores-sprites.png';
$lu: (31px, 126px, -31px, -126px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'lu', );
$lv-name: 'lv';
$lv-x: 62px;
$lv-y: 126px;
$lv-offset-x: -62px;
$lv-offset-y: -126px;
$lv-width: 31px;
$lv-height: 21px;
$lv-total-width: 186px;
$lv-total-height: 168px;
$lv-image: '~assets/images/$sprites/header-stores-sprites.png';
$lv: (62px, 126px, -62px, -126px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'lv', );
$mt-name: 'mt';
$mt-x: 93px;
$mt-y: 126px;
$mt-offset-x: -93px;
$mt-offset-y: -126px;
$mt-width: 31px;
$mt-height: 21px;
$mt-total-width: 186px;
$mt-total-height: 168px;
$mt-image: '~assets/images/$sprites/header-stores-sprites.png';
$mt: (93px, 126px, -93px, -126px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'mt', );
$my-name: 'my';
$my-x: 124px;
$my-y: 126px;
$my-offset-x: -124px;
$my-offset-y: -126px;
$my-width: 31px;
$my-height: 21px;
$my-total-width: 186px;
$my-total-height: 168px;
$my-image: '~assets/images/$sprites/header-stores-sprites.png';
$my: (124px, 126px, -124px, -126px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'my', );
$nl-name: 'nl';
$nl-x: 155px;
$nl-y: 0px;
$nl-offset-x: -155px;
$nl-offset-y: 0px;
$nl-width: 31px;
$nl-height: 21px;
$nl-total-width: 186px;
$nl-total-height: 168px;
$nl-image: '~assets/images/$sprites/header-stores-sprites.png';
$nl: (155px, 0px, -155px, 0px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'nl', );
$pl-name: 'pl';
$pl-x: 155px;
$pl-y: 21px;
$pl-offset-x: -155px;
$pl-offset-y: -21px;
$pl-width: 31px;
$pl-height: 21px;
$pl-total-width: 186px;
$pl-total-height: 168px;
$pl-image: '~assets/images/$sprites/header-stores-sprites.png';
$pl: (155px, 21px, -155px, -21px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'pl', );
$pt-name: 'pt';
$pt-x: 155px;
$pt-y: 42px;
$pt-offset-x: -155px;
$pt-offset-y: -42px;
$pt-width: 31px;
$pt-height: 21px;
$pt-total-width: 186px;
$pt-total-height: 168px;
$pt-image: '~assets/images/$sprites/header-stores-sprites.png';
$pt: (155px, 42px, -155px, -42px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'pt', );
$ro-name: 'ro';
$ro-x: 155px;
$ro-y: 63px;
$ro-offset-x: -155px;
$ro-offset-y: -63px;
$ro-width: 31px;
$ro-height: 21px;
$ro-total-width: 186px;
$ro-total-height: 168px;
$ro-image: '~assets/images/$sprites/header-stores-sprites.png';
$ro: (155px, 63px, -155px, -63px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'ro', );
$se-name: 'se';
$se-x: 155px;
$se-y: 84px;
$se-offset-x: -155px;
$se-offset-y: -84px;
$se-width: 31px;
$se-height: 21px;
$se-total-width: 186px;
$se-total-height: 168px;
$se-image: '~assets/images/$sprites/header-stores-sprites.png';
$se: (155px, 84px, -155px, -84px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'se', );
$sg-name: 'sg';
$sg-x: 155px;
$sg-y: 105px;
$sg-offset-x: -155px;
$sg-offset-y: -105px;
$sg-width: 31px;
$sg-height: 21px;
$sg-total-width: 186px;
$sg-total-height: 168px;
$sg-image: '~assets/images/$sprites/header-stores-sprites.png';
$sg: (155px, 105px, -155px, -105px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'sg', );
$si-name: 'si';
$si-x: 155px;
$si-y: 126px;
$si-offset-x: -155px;
$si-offset-y: -126px;
$si-width: 31px;
$si-height: 21px;
$si-total-width: 186px;
$si-total-height: 168px;
$si-image: '~assets/images/$sprites/header-stores-sprites.png';
$si: (155px, 126px, -155px, -126px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'si', );
$sk-name: 'sk';
$sk-x: 0px;
$sk-y: 147px;
$sk-offset-x: 0px;
$sk-offset-y: -147px;
$sk-width: 31px;
$sk-height: 21px;
$sk-total-width: 186px;
$sk-total-height: 168px;
$sk-image: '~assets/images/$sprites/header-stores-sprites.png';
$sk: (0px, 147px, 0px, -147px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'sk', );
$uk-name: 'uk';
$uk-x: 31px;
$uk-y: 147px;
$uk-offset-x: -31px;
$uk-offset-y: -147px;
$uk-width: 31px;
$uk-height: 21px;
$uk-total-width: 186px;
$uk-total-height: 168px;
$uk-image: '~assets/images/$sprites/header-stores-sprites.png';
$uk: (31px, 147px, -31px, -147px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'uk', );
$us-name: 'us';
$us-x: 62px;
$us-y: 147px;
$us-offset-x: -62px;
$us-offset-y: -147px;
$us-width: 31px;
$us-height: 21px;
$us-total-width: 186px;
$us-total-height: 168px;
$us-image: '~assets/images/$sprites/header-stores-sprites.png';
$us: (62px, 147px, -62px, -147px, 31px, 21px, 186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', 'us', );
$at-2x-name: 'at@2x';
$at-2x-x: 62px;
$at-2x-y: 0px;
$at-2x-offset-x: -62px;
$at-2x-offset-y: 0px;
$at-2x-width: 62px;
$at-2x-height: 42px;
$at-2x-total-width: 372px;
$at-2x-total-height: 336px;
$at-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$at-2x: (62px, 0px, -62px, 0px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'at@2x', );
$be-fr-2x-name: 'be-fr@2x';
$be-fr-2x-x: 248px;
$be-fr-2x-y: 84px;
$be-fr-2x-offset-x: -248px;
$be-fr-2x-offset-y: -84px;
$be-fr-2x-width: 62px;
$be-fr-2x-height: 42px;
$be-fr-2x-total-width: 372px;
$be-fr-2x-total-height: 336px;
$be-fr-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$be-fr-2x: (248px, 84px, -248px, -84px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'be-fr@2x', );
$be-nl-2x-name: 'be-nl@2x';
$be-nl-2x-x: 0px;
$be-nl-2x-y: 42px;
$be-nl-2x-offset-x: 0px;
$be-nl-2x-offset-y: -42px;
$be-nl-2x-width: 62px;
$be-nl-2x-height: 42px;
$be-nl-2x-total-width: 372px;
$be-nl-2x-total-height: 336px;
$be-nl-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$be-nl-2x: (0px, 42px, 0px, -42px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'be-nl@2x', );
$be-2x-name: 'be@2x';
$be-2x-x: 62px;
$be-2x-y: 42px;
$be-2x-offset-x: -62px;
$be-2x-offset-y: -42px;
$be-2x-width: 62px;
$be-2x-height: 42px;
$be-2x-total-width: 372px;
$be-2x-total-height: 336px;
$be-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$be-2x: (62px, 42px, -62px, -42px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'be@2x', );
$bg-2x-name: 'bg@2x';
$bg-2x-x: 124px;
$bg-2x-y: 0px;
$bg-2x-offset-x: -124px;
$bg-2x-offset-y: 0px;
$bg-2x-width: 62px;
$bg-2x-height: 42px;
$bg-2x-total-width: 372px;
$bg-2x-total-height: 336px;
$bg-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$bg-2x: (124px, 0px, -124px, 0px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'bg@2x', );
$ca-en-2x-name: 'ca-en@2x';
$ca-en-2x-x: 124px;
$ca-en-2x-y: 42px;
$ca-en-2x-offset-x: -124px;
$ca-en-2x-offset-y: -42px;
$ca-en-2x-width: 62px;
$ca-en-2x-height: 42px;
$ca-en-2x-total-width: 372px;
$ca-en-2x-total-height: 336px;
$ca-en-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$ca-en-2x: (124px, 42px, -124px, -42px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'ca-en@2x', );
$ca-fr-2x-name: 'ca-fr@2x';
$ca-fr-2x-x: 0px;
$ca-fr-2x-y: 84px;
$ca-fr-2x-offset-x: 0px;
$ca-fr-2x-offset-y: -84px;
$ca-fr-2x-width: 62px;
$ca-fr-2x-height: 42px;
$ca-fr-2x-total-width: 372px;
$ca-fr-2x-total-height: 336px;
$ca-fr-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$ca-fr-2x: (0px, 84px, 0px, -84px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'ca-fr@2x', );
$ca-2x-name: 'ca@2x';
$ca-2x-x: 62px;
$ca-2x-y: 84px;
$ca-2x-offset-x: -62px;
$ca-2x-offset-y: -84px;
$ca-2x-width: 62px;
$ca-2x-height: 42px;
$ca-2x-total-width: 372px;
$ca-2x-total-height: 336px;
$ca-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$ca-2x: (62px, 84px, -62px, -84px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'ca@2x', );
$cn-2x-name: 'cn@2x';
$cn-2x-x: 124px;
$cn-2x-y: 84px;
$cn-2x-offset-x: -124px;
$cn-2x-offset-y: -84px;
$cn-2x-width: 62px;
$cn-2x-height: 42px;
$cn-2x-total-width: 372px;
$cn-2x-total-height: 336px;
$cn-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$cn-2x: (124px, 84px, -124px, -84px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'cn@2x', );
$cy-gr-2x-name: 'cy-gr@2x';
$cy-gr-2x-x: 0px;
$cy-gr-2x-y: 126px;
$cy-gr-2x-offset-x: 0px;
$cy-gr-2x-offset-y: -126px;
$cy-gr-2x-width: 62px;
$cy-gr-2x-height: 42px;
$cy-gr-2x-total-width: 372px;
$cy-gr-2x-total-height: 336px;
$cy-gr-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$cy-gr-2x: (0px, 126px, 0px, -126px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'cy-gr@2x', );
$cy-tr-2x-name: 'cy-tr@2x';
$cy-tr-2x-x: 62px;
$cy-tr-2x-y: 126px;
$cy-tr-2x-offset-x: -62px;
$cy-tr-2x-offset-y: -126px;
$cy-tr-2x-width: 62px;
$cy-tr-2x-height: 42px;
$cy-tr-2x-total-width: 372px;
$cy-tr-2x-total-height: 336px;
$cy-tr-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$cy-tr-2x: (62px, 126px, -62px, -126px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'cy-tr@2x', );
$cy-2x-name: 'cy@2x';
$cy-2x-x: 124px;
$cy-2x-y: 126px;
$cy-2x-offset-x: -124px;
$cy-2x-offset-y: -126px;
$cy-2x-width: 62px;
$cy-2x-height: 42px;
$cy-2x-total-width: 372px;
$cy-2x-total-height: 336px;
$cy-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$cy-2x: (124px, 126px, -124px, -126px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'cy@2x', );
$cz-2x-name: 'cz@2x';
$cz-2x-x: 186px;
$cz-2x-y: 0px;
$cz-2x-offset-x: -186px;
$cz-2x-offset-y: 0px;
$cz-2x-width: 62px;
$cz-2x-height: 42px;
$cz-2x-total-width: 372px;
$cz-2x-total-height: 336px;
$cz-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$cz-2x: (186px, 0px, -186px, 0px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'cz@2x', );
$de-2x-name: 'de@2x';
$de-2x-x: 186px;
$de-2x-y: 42px;
$de-2x-offset-x: -186px;
$de-2x-offset-y: -42px;
$de-2x-width: 62px;
$de-2x-height: 42px;
$de-2x-total-width: 372px;
$de-2x-total-height: 336px;
$de-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$de-2x: (186px, 42px, -186px, -42px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'de@2x', );
$dk-2x-name: 'dk@2x';
$dk-2x-x: 186px;
$dk-2x-y: 84px;
$dk-2x-offset-x: -186px;
$dk-2x-offset-y: -84px;
$dk-2x-width: 62px;
$dk-2x-height: 42px;
$dk-2x-total-width: 372px;
$dk-2x-total-height: 336px;
$dk-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$dk-2x: (186px, 84px, -186px, -84px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'dk@2x', );
$ee-2x-name: 'ee@2x';
$ee-2x-x: 186px;
$ee-2x-y: 126px;
$ee-2x-offset-x: -186px;
$ee-2x-offset-y: -126px;
$ee-2x-width: 62px;
$ee-2x-height: 42px;
$ee-2x-total-width: 372px;
$ee-2x-total-height: 336px;
$ee-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$ee-2x: (186px, 126px, -186px, -126px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'ee@2x', );
$es-2x-name: 'es@2x';
$es-2x-x: 0px;
$es-2x-y: 168px;
$es-2x-offset-x: 0px;
$es-2x-offset-y: -168px;
$es-2x-width: 62px;
$es-2x-height: 42px;
$es-2x-total-width: 372px;
$es-2x-total-height: 336px;
$es-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$es-2x: (0px, 168px, 0px, -168px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'es@2x', );
$fi-2x-name: 'fi@2x';
$fi-2x-x: 62px;
$fi-2x-y: 168px;
$fi-2x-offset-x: -62px;
$fi-2x-offset-y: -168px;
$fi-2x-width: 62px;
$fi-2x-height: 42px;
$fi-2x-total-width: 372px;
$fi-2x-total-height: 336px;
$fi-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$fi-2x: (62px, 168px, -62px, -168px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'fi@2x', );
$fr-2x-name: 'fr@2x';
$fr-2x-x: 124px;
$fr-2x-y: 168px;
$fr-2x-offset-x: -124px;
$fr-2x-offset-y: -168px;
$fr-2x-width: 62px;
$fr-2x-height: 42px;
$fr-2x-total-width: 372px;
$fr-2x-total-height: 336px;
$fr-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$fr-2x: (124px, 168px, -124px, -168px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'fr@2x', );
$global-2x-name: 'global@2x';
$global-2x-x: 186px;
$global-2x-y: 168px;
$global-2x-offset-x: -186px;
$global-2x-offset-y: -168px;
$global-2x-width: 62px;
$global-2x-height: 42px;
$global-2x-total-width: 372px;
$global-2x-total-height: 336px;
$global-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$global-2x: (186px, 168px, -186px, -168px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'global@2x', );
$gr-2x-name: 'gr@2x';
$gr-2x-x: 248px;
$gr-2x-y: 0px;
$gr-2x-offset-x: -248px;
$gr-2x-offset-y: 0px;
$gr-2x-width: 62px;
$gr-2x-height: 42px;
$gr-2x-total-width: 372px;
$gr-2x-total-height: 336px;
$gr-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$gr-2x: (248px, 0px, -248px, 0px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'gr@2x', );
$hk-2x-name: 'hk@2x';
$hk-2x-x: 248px;
$hk-2x-y: 42px;
$hk-2x-offset-x: -248px;
$hk-2x-offset-y: -42px;
$hk-2x-width: 62px;
$hk-2x-height: 42px;
$hk-2x-total-width: 372px;
$hk-2x-total-height: 336px;
$hk-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$hk-2x: (248px, 42px, -248px, -42px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'hk@2x', );
$hr-2x-name: 'hr@2x';
$hr-2x-x: 0px;
$hr-2x-y: 0px;
$hr-2x-offset-x: 0px;
$hr-2x-offset-y: 0px;
$hr-2x-width: 62px;
$hr-2x-height: 42px;
$hr-2x-total-width: 372px;
$hr-2x-total-height: 336px;
$hr-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$hr-2x: (0px, 0px, 0px, 0px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'hr@2x', );
$hu-2x-name: 'hu@2x';
$hu-2x-x: 248px;
$hu-2x-y: 126px;
$hu-2x-offset-x: -248px;
$hu-2x-offset-y: -126px;
$hu-2x-width: 62px;
$hu-2x-height: 42px;
$hu-2x-total-width: 372px;
$hu-2x-total-height: 336px;
$hu-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$hu-2x: (248px, 126px, -248px, -126px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'hu@2x', );
$id-2x-name: 'id@2x';
$id-2x-x: 248px;
$id-2x-y: 168px;
$id-2x-offset-x: -248px;
$id-2x-offset-y: -168px;
$id-2x-width: 62px;
$id-2x-height: 42px;
$id-2x-total-width: 372px;
$id-2x-total-height: 336px;
$id-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$id-2x: (248px, 168px, -248px, -168px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'id@2x', );
$ie-2x-name: 'ie@2x';
$ie-2x-x: 0px;
$ie-2x-y: 210px;
$ie-2x-offset-x: 0px;
$ie-2x-offset-y: -210px;
$ie-2x-width: 62px;
$ie-2x-height: 42px;
$ie-2x-total-width: 372px;
$ie-2x-total-height: 336px;
$ie-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$ie-2x: (0px, 210px, 0px, -210px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'ie@2x', );
$in-2x-name: 'in@2x';
$in-2x-x: 62px;
$in-2x-y: 210px;
$in-2x-offset-x: -62px;
$in-2x-offset-y: -210px;
$in-2x-width: 62px;
$in-2x-height: 42px;
$in-2x-total-width: 372px;
$in-2x-total-height: 336px;
$in-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$in-2x: (62px, 210px, -62px, -210px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'in@2x', );
$it-2x-name: 'it@2x';
$it-2x-x: 124px;
$it-2x-y: 210px;
$it-2x-offset-x: -124px;
$it-2x-offset-y: -210px;
$it-2x-width: 62px;
$it-2x-height: 42px;
$it-2x-total-width: 372px;
$it-2x-total-height: 336px;
$it-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$it-2x: (124px, 210px, -124px, -210px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'it@2x', );
$lt-2x-name: 'lt@2x';
$lt-2x-x: 186px;
$lt-2x-y: 210px;
$lt-2x-offset-x: -186px;
$lt-2x-offset-y: -210px;
$lt-2x-width: 62px;
$lt-2x-height: 42px;
$lt-2x-total-width: 372px;
$lt-2x-total-height: 336px;
$lt-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$lt-2x: (186px, 210px, -186px, -210px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'lt@2x', );
$lu-de-2x-name: 'lu-de@2x';
$lu-de-2x-x: 248px;
$lu-de-2x-y: 210px;
$lu-de-2x-offset-x: -248px;
$lu-de-2x-offset-y: -210px;
$lu-de-2x-width: 62px;
$lu-de-2x-height: 42px;
$lu-de-2x-total-width: 372px;
$lu-de-2x-total-height: 336px;
$lu-de-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$lu-de-2x: (248px, 210px, -248px, -210px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'lu-de@2x', );
$lu-fr-2x-name: 'lu-fr@2x';
$lu-fr-2x-x: 0px;
$lu-fr-2x-y: 252px;
$lu-fr-2x-offset-x: 0px;
$lu-fr-2x-offset-y: -252px;
$lu-fr-2x-width: 62px;
$lu-fr-2x-height: 42px;
$lu-fr-2x-total-width: 372px;
$lu-fr-2x-total-height: 336px;
$lu-fr-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$lu-fr-2x: (0px, 252px, 0px, -252px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'lu-fr@2x', );
$lu-2x-name: 'lu@2x';
$lu-2x-x: 62px;
$lu-2x-y: 252px;
$lu-2x-offset-x: -62px;
$lu-2x-offset-y: -252px;
$lu-2x-width: 62px;
$lu-2x-height: 42px;
$lu-2x-total-width: 372px;
$lu-2x-total-height: 336px;
$lu-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$lu-2x: (62px, 252px, -62px, -252px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'lu@2x', );
$lv-2x-name: 'lv@2x';
$lv-2x-x: 124px;
$lv-2x-y: 252px;
$lv-2x-offset-x: -124px;
$lv-2x-offset-y: -252px;
$lv-2x-width: 62px;
$lv-2x-height: 42px;
$lv-2x-total-width: 372px;
$lv-2x-total-height: 336px;
$lv-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$lv-2x: (124px, 252px, -124px, -252px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'lv@2x', );
$mt-2x-name: 'mt@2x';
$mt-2x-x: 186px;
$mt-2x-y: 252px;
$mt-2x-offset-x: -186px;
$mt-2x-offset-y: -252px;
$mt-2x-width: 62px;
$mt-2x-height: 42px;
$mt-2x-total-width: 372px;
$mt-2x-total-height: 336px;
$mt-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$mt-2x: (186px, 252px, -186px, -252px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'mt@2x', );
$my-2x-name: 'my@2x';
$my-2x-x: 248px;
$my-2x-y: 252px;
$my-2x-offset-x: -248px;
$my-2x-offset-y: -252px;
$my-2x-width: 62px;
$my-2x-height: 42px;
$my-2x-total-width: 372px;
$my-2x-total-height: 336px;
$my-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$my-2x: (248px, 252px, -248px, -252px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'my@2x', );
$nl-2x-name: 'nl@2x';
$nl-2x-x: 310px;
$nl-2x-y: 0px;
$nl-2x-offset-x: -310px;
$nl-2x-offset-y: 0px;
$nl-2x-width: 62px;
$nl-2x-height: 42px;
$nl-2x-total-width: 372px;
$nl-2x-total-height: 336px;
$nl-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$nl-2x: (310px, 0px, -310px, 0px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'nl@2x', );
$pl-2x-name: 'pl@2x';
$pl-2x-x: 310px;
$pl-2x-y: 42px;
$pl-2x-offset-x: -310px;
$pl-2x-offset-y: -42px;
$pl-2x-width: 62px;
$pl-2x-height: 42px;
$pl-2x-total-width: 372px;
$pl-2x-total-height: 336px;
$pl-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$pl-2x: (310px, 42px, -310px, -42px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'pl@2x', );
$pt-2x-name: 'pt@2x';
$pt-2x-x: 310px;
$pt-2x-y: 84px;
$pt-2x-offset-x: -310px;
$pt-2x-offset-y: -84px;
$pt-2x-width: 62px;
$pt-2x-height: 42px;
$pt-2x-total-width: 372px;
$pt-2x-total-height: 336px;
$pt-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$pt-2x: (310px, 84px, -310px, -84px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'pt@2x', );
$ro-2x-name: 'ro@2x';
$ro-2x-x: 310px;
$ro-2x-y: 126px;
$ro-2x-offset-x: -310px;
$ro-2x-offset-y: -126px;
$ro-2x-width: 62px;
$ro-2x-height: 42px;
$ro-2x-total-width: 372px;
$ro-2x-total-height: 336px;
$ro-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$ro-2x: (310px, 126px, -310px, -126px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'ro@2x', );
$se-2x-name: 'se@2x';
$se-2x-x: 310px;
$se-2x-y: 168px;
$se-2x-offset-x: -310px;
$se-2x-offset-y: -168px;
$se-2x-width: 62px;
$se-2x-height: 42px;
$se-2x-total-width: 372px;
$se-2x-total-height: 336px;
$se-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$se-2x: (310px, 168px, -310px, -168px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'se@2x', );
$sg-2x-name: 'sg@2x';
$sg-2x-x: 310px;
$sg-2x-y: 210px;
$sg-2x-offset-x: -310px;
$sg-2x-offset-y: -210px;
$sg-2x-width: 62px;
$sg-2x-height: 42px;
$sg-2x-total-width: 372px;
$sg-2x-total-height: 336px;
$sg-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$sg-2x: (310px, 210px, -310px, -210px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'sg@2x', );
$si-2x-name: 'si@2x';
$si-2x-x: 310px;
$si-2x-y: 252px;
$si-2x-offset-x: -310px;
$si-2x-offset-y: -252px;
$si-2x-width: 62px;
$si-2x-height: 42px;
$si-2x-total-width: 372px;
$si-2x-total-height: 336px;
$si-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$si-2x: (310px, 252px, -310px, -252px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'si@2x', );
$sk-2x-name: 'sk@2x';
$sk-2x-x: 0px;
$sk-2x-y: 294px;
$sk-2x-offset-x: 0px;
$sk-2x-offset-y: -294px;
$sk-2x-width: 62px;
$sk-2x-height: 42px;
$sk-2x-total-width: 372px;
$sk-2x-total-height: 336px;
$sk-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$sk-2x: (0px, 294px, 0px, -294px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'sk@2x', );
$uk-2x-name: 'uk@2x';
$uk-2x-x: 62px;
$uk-2x-y: 294px;
$uk-2x-offset-x: -62px;
$uk-2x-offset-y: -294px;
$uk-2x-width: 62px;
$uk-2x-height: 42px;
$uk-2x-total-width: 372px;
$uk-2x-total-height: 336px;
$uk-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$uk-2x: (62px, 294px, -62px, -294px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'uk@2x', );
$us-2x-name: 'us@2x';
$us-2x-x: 124px;
$us-2x-y: 294px;
$us-2x-offset-x: -124px;
$us-2x-offset-y: -294px;
$us-2x-width: 62px;
$us-2x-height: 42px;
$us-2x-total-width: 372px;
$us-2x-total-height: 336px;
$us-2x-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$us-2x: (124px, 294px, -124px, -294px, 62px, 42px, 372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', 'us@2x', );
$spritesheet-width: 186px;
$spritesheet-height: 168px;
$spritesheet-image: '~assets/images/$sprites/header-stores-sprites.png';
$spritesheet-sprites: ($at, $be-fr, $be-nl, $be, $bg, $ca-en, $ca-fr, $ca, $cn, $cy-gr, $cy-tr, $cy, $cz, $de, $dk, $ee, $es, $fi, $fr, $global, $gr, $hk, $hr, $hu, $id, $ie, $in, $it, $lt, $lu-de, $lu-fr, $lu, $lv, $mt, $my, $nl, $pl, $pt, $ro, $se, $sg, $si, $sk, $uk, $us, );
$spritesheet: (186px, 168px, '~assets/images/$sprites/header-stores-sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 372px;
$retina-spritesheet-height: 336px;
$retina-spritesheet-image: '~assets/images/$sprites/header-stores-sprites2x.png';
$retina-spritesheet-sprites: ($at-2x, $be-fr-2x, $be-nl-2x, $be-2x, $bg-2x, $ca-en-2x, $ca-fr-2x, $ca-2x, $cn-2x, $cy-gr-2x, $cy-tr-2x, $cy-2x, $cz-2x, $de-2x, $dk-2x, $ee-2x, $es-2x, $fi-2x, $fr-2x, $global-2x, $gr-2x, $hk-2x, $hr-2x, $hu-2x, $id-2x, $ie-2x, $in-2x, $it-2x, $lt-2x, $lu-de-2x, $lu-fr-2x, $lu-2x, $lv-2x, $mt-2x, $my-2x, $nl-2x, $pl-2x, $pt-2x, $ro-2x, $se-2x, $sg-2x, $si-2x, $sk-2x, $uk-2x, $us-2x, );
$retina-spritesheet: (372px, 336px, '~assets/images/$sprites/header-stores-sprites2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$at-group-name: 'at';
$at-group: ('at', $at, $at-2x, );
$be-fr-group-name: 'be-fr';
$be-fr-group: ('be-fr', $be-fr, $be-fr-2x, );
$be-nl-group-name: 'be-nl';
$be-nl-group: ('be-nl', $be-nl, $be-nl-2x, );
$be-group-name: 'be';
$be-group: ('be', $be, $be-2x, );
$bg-group-name: 'bg';
$bg-group: ('bg', $bg, $bg-2x, );
$ca-en-group-name: 'ca-en';
$ca-en-group: ('ca-en', $ca-en, $ca-en-2x, );
$ca-fr-group-name: 'ca-fr';
$ca-fr-group: ('ca-fr', $ca-fr, $ca-fr-2x, );
$ca-group-name: 'ca';
$ca-group: ('ca', $ca, $ca-2x, );
$cn-group-name: 'cn';
$cn-group: ('cn', $cn, $cn-2x, );
$cy-gr-group-name: 'cy-gr';
$cy-gr-group: ('cy-gr', $cy-gr, $cy-gr-2x, );
$cy-tr-group-name: 'cy-tr';
$cy-tr-group: ('cy-tr', $cy-tr, $cy-tr-2x, );
$cy-group-name: 'cy';
$cy-group: ('cy', $cy, $cy-2x, );
$cz-group-name: 'cz';
$cz-group: ('cz', $cz, $cz-2x, );
$de-group-name: 'de';
$de-group: ('de', $de, $de-2x, );
$dk-group-name: 'dk';
$dk-group: ('dk', $dk, $dk-2x, );
$ee-group-name: 'ee';
$ee-group: ('ee', $ee, $ee-2x, );
$es-group-name: 'es';
$es-group: ('es', $es, $es-2x, );
$fi-group-name: 'fi';
$fi-group: ('fi', $fi, $fi-2x, );
$fr-group-name: 'fr';
$fr-group: ('fr', $fr, $fr-2x, );
$global-group-name: 'global';
$global-group: ('global', $global, $global-2x, );
$gr-group-name: 'gr';
$gr-group: ('gr', $gr, $gr-2x, );
$hk-group-name: 'hk';
$hk-group: ('hk', $hk, $hk-2x, );
$hr-group-name: 'hr';
$hr-group: ('hr', $hr, $hr-2x, );
$hu-group-name: 'hu';
$hu-group: ('hu', $hu, $hu-2x, );
$id-group-name: 'id';
$id-group: ('id', $id, $id-2x, );
$ie-group-name: 'ie';
$ie-group: ('ie', $ie, $ie-2x, );
$in-group-name: 'in';
$in-group: ('in', $in, $in-2x, );
$it-group-name: 'it';
$it-group: ('it', $it, $it-2x, );
$lt-group-name: 'lt';
$lt-group: ('lt', $lt, $lt-2x, );
$lu-de-group-name: 'lu-de';
$lu-de-group: ('lu-de', $lu-de, $lu-de-2x, );
$lu-fr-group-name: 'lu-fr';
$lu-fr-group: ('lu-fr', $lu-fr, $lu-fr-2x, );
$lu-group-name: 'lu';
$lu-group: ('lu', $lu, $lu-2x, );
$lv-group-name: 'lv';
$lv-group: ('lv', $lv, $lv-2x, );
$mt-group-name: 'mt';
$mt-group: ('mt', $mt, $mt-2x, );
$my-group-name: 'my';
$my-group: ('my', $my, $my-2x, );
$nl-group-name: 'nl';
$nl-group: ('nl', $nl, $nl-2x, );
$pl-group-name: 'pl';
$pl-group: ('pl', $pl, $pl-2x, );
$pt-group-name: 'pt';
$pt-group: ('pt', $pt, $pt-2x, );
$ro-group-name: 'ro';
$ro-group: ('ro', $ro, $ro-2x, );
$se-group-name: 'se';
$se-group: ('se', $se, $se-2x, );
$sg-group-name: 'sg';
$sg-group: ('sg', $sg, $sg-2x, );
$si-group-name: 'si';
$si-group: ('si', $si, $si-2x, );
$sk-group-name: 'sk';
$sk-group: ('sk', $sk, $sk-2x, );
$uk-group-name: 'uk';
$uk-group: ('uk', $uk, $uk-2x, );
$us-group-name: 'us';
$us-group: ('us', $us, $us-2x, );
$retina-groups: ($at-group, $be-fr-group, $be-nl-group, $be-group, $bg-group, $ca-en-group, $ca-fr-group, $ca-group, $cn-group, $cy-gr-group, $cy-tr-group, $cy-group, $cz-group, $de-group, $dk-group, $ee-group, $es-group, $fi-group, $fr-group, $global-group, $gr-group, $hk-group, $hr-group, $hu-group, $id-group, $ie-group, $in-group, $it-group, $lt-group, $lu-de-group, $lu-fr-group, $lu-group, $lv-group, $mt-group, $my-group, $nl-group, $pl-group, $pt-group, $ro-group, $se-group, $sg-group, $si-group, $sk-group, $uk-group, $us-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
